.about {
    margin: 150px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1200px;
    padding: 50px;
}

.about__paragraph {
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 40px;
}

.about__image {
    background-image: url(/img/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}

.about__image::after {
    content: "";
    background: rgba(5, 0, 62, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}