.counter {
    margin: 0 auto;
    position: relative;
    top: -80px;
    width: 70%;
    background-color: var(--accent);
    color: var(--primary);
}

.counter__paragraph {
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.counter__itemsWrapper {
    display: flex;
    justify-content: center;
}

.counter__items {
    width: 50%;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    padding-left: 0;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .counter__items {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        grid-gap: 20px;
    }
}

@media (max-width: 460px) {
    .counter__items {
        width: 90%;
        grid-gap: 10px;
    }
}

.counter__item {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.counter__number {
    text-align: center;
    font-size: 48px;
    padding: 10px;
    font-weight: 700;
}

@media (max-width: 460px) {
    .counter__number {
        font-size: 24px;
        padding: 15px;
    }
}

.counter__caption {
    text-align: center;
    font-size: 14px;
    padding: 0px 10px;
}