.header {
    text-transform: uppercase;
    font-size: 24px;
    margin: 50px 0px;
    position: relative;
    z-index: 01;
}

.header--speakers {
    color: var(--accent);
}

.header::before {
    position: absolute;
    top: -110%;
    left: -10%;
    text-transform: uppercase;
    color: var(--textSecondary);
    font-size: 72px;
    z-index: -1;
}

.header--about::before {
    content: "about";
}

.header--speakers::before {
    content: "speakers";
    color: #07184D;
    top: -170%;
    left: -170%;
    font-size: 98px;
}

.header--ticket::before {
    content: "ticket";
}

.header--newsletter::before {
    content: "newsletter";
}

.header--clean::before {
    content: ""
}