.header {
    text-transform: uppercase;
    font-size: 24px;
    margin: 50px 0px;
    position: relative;
    z-index: 01;
}

.header--speakers {
    color: var(--accent);
}

.header::before {
    position: absolute;
    top: -110%;
    left: -10%;
    text-transform: uppercase;
    color: var(--textSecondary);
    font-size: 72px;
    z-index: -1;
}

@media (max-width: 460px) {
    .header::before {
        font-size: 52px;
    }
}

.header--about::before {
    content: "about";
}

@media (max-width: 460px) {
    .header--about::before, .header--ticket::before {
        top: -60%;
        left: 21%;
    }
}

.header--speakers::before {
    content: "speakers";
    color: #07184D;
    top: -170%;
    left: -170%;
    font-size: 98px;
}

@media (max-width: 460px) {
    .header--speakers::before {
        top: -90%;
        left: -80%;
        font-size: 60px;
    }
}

.header--ticket::before {
    content: "ticket";
}

.header--newsletter::before {
    content: "newsletter";
    top: -110%;
    left: -100%;
}

@media (max-width: 460px) {
    .header--newsletter::before {
        top: -50%;
        left: -45%;
        font-size: 45px;
    }
}

.header--clean {
    margin: 0px 0px;
    text-align: center;
}

.header--clean::before {
    content: ""
}