.hero {
    /* display: none; */
    background-image: url(../img/speaker-gary-vee-2c.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 120vh;

}

.hero__container {
    position: relative;
    background: rgba(5, 0, 62, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__name {
    color: var(--accent);
    font-family: var(--headerFont);
    font-size: 200px;
    font-weight: 700;
    margin: -100px 0px;
}

.hero__headerWrapper {
    position: relative;
}

.hero__header {
    color: var(--primary);
    font-family: var(--headerFont);
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 0px;
}

.hero__image {
    height: 60px;
    position: absolute;
    top: 72%;
    left: 72%;
}

.hero__date {
    color: var(--primary);
    font-family: var(--subHeaderFont);
    font-size: 22px;
    font-weight: 700;
    margin: 10px;
}

.hero__subHeader {
    color: var(--primary);
    font-family: var(--subHeaderFont);
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
}