.link {
    cursor: pointer;
    padding: 18px 52px;
    font-family: var(--eventFont);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--accent);
    border: none;
    color: var(--primary);
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0px;
    transition: 0.3s;
}

.link--lighter {
    font-size: 12px;
    font-weight: 400;
}
.link--borderRadius {
    border-radius: 3px;
}
.link:hover {
    background-color: #19baa4;
}