.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 50px 180px;
    position: fixed;
    z-index: 1;
    transition: 0.3s;
}
.nav--onScroll {
    background-color: var(--overlay);
    padding: 20px 180px;
}
@media (max-width: 990px) {
    .nav {
        padding: 20px 50px;
    }
}

@media (max-width: 460px) {
    .nav {
        padding: 20px 20px;
    }
}

.nav__logo {
    width: 110px;
    height: 22px;
}

.nav__list {
    display: grid;
    grid-gap: 12px 24px;
    grid-template-columns: repeat(4, max-content);
    list-style-type: none;
    padding: 0;
    transition: 0.5s;
    transition-property: opacity, transform;
}

@media (max-width: 990px) {
    .nav__list {
        position: fixed;
        top: 50px;
        right: 0px;
        width: 50%;
        padding: 20px;
        background: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        line-height: 2;
        transform: translateX(50%);
    }
}

@media (max-width: 990px) {
    .nav__list--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.nav__item {
    font-size: 13px;
    text-transform: uppercase;
}

@media (max-width: 990px) {
    .nav__item {
        font-size: 26px;
    }
}

.nav__link {
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--accent);
}

.nav__link:active {
    color: #a0fff2;
}